Creating a TF-IDF from scratch

In [18]:
import pandas as pd
import sklearn as sk
import math

tf portion

In [36]:
first= 'The car is driven on the road'
second= 'The truck is driven on the highway'

In [3]:
first = first.split(" ")
second= second.split(" ")

In [4]:
print(first)
print(second)

['The', 'car', 'is', 'driven', 'on', 'the', 'road']
['The', 'truck', 'is', 'driven', 'on', 'the', 'highway']

In [5]:
#Let's remove common words
total= set(first).union(set(second))
total

{'The', 'car', 'driven', 'highway', 'is', 'on', 'road', 'the', 'truck'}

In [6]:
wordDictA = dict.fromkeys(total, 0) 
wordDictB = dict.fromkeys(total, 0)

In [7]:
wordDictA

{'truck': 0,
 'car': 0,
 'is': 0,
 'the': 0,
 'driven': 0,
 'on': 0,
 'road': 0,
 'highway': 0,
 'The': 0}

In [8]:
wordDictB

{'truck': 0,
 'car': 0,
 'is': 0,
 'the': 0,
 'driven': 0,
 'on': 0,
 'road': 0,
 'highway': 0,
 'The': 0}

In [9]:
for word in first:
    wordDictA[word]+=1
    
for word in second:
    wordDictB[word]+=1

In [10]:
wordDictA

{'truck': 0,
 'car': 1,
 'is': 1,
 'the': 1,
 'driven': 1,
 'on': 1,
 'road': 1,
 'highway': 0,
 'The': 1}

In [11]:
wordDictB

{'truck': 1,
 'car': 0,
 'is': 1,
 'the': 1,
 'driven': 1,
 'on': 1,
 'road': 0,
 'highway': 1,
 'The': 1}

In [12]:
pd.DataFrame([wordDictA, wordDictB])

   The  car  driven  highway  is  on  road  the  truck
0    1    1       1        0   1   1     1    1      0
1    1    0       1        1   1   1     0    1      1

In [13]:
#Computing TF
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [15]:
tfFirst = computeTF(wordDictA, first)
tfSecond = computeTF(wordDictB, second)

In [16]:
tfFirst

{'truck': 0.0,
 'car': 0.14285714285714285,
 'is': 0.14285714285714285,
 'the': 0.14285714285714285,
 'driven': 0.14285714285714285,
 'on': 0.14285714285714285,
 'road': 0.14285714285714285,
 'highway': 0.0,
 'The': 0.14285714285714285}

In [17]:
tfSecond

{'truck': 0.14285714285714285,
 'car': 0.0,
 'is': 0.14285714285714285,
 'the': 0.14285714285714285,
 'driven': 0.14285714285714285,
 'on': 0.14285714285714285,
 'road': 0.0,
 'highway': 0.14285714285714285,
 'The': 0.14285714285714285}

In [28]:
tf_df= pd.DataFrame([tfFirst, tfSecond])
tf_df

,The,car,driven,highway,is,on,road,the,truck
0,0.142857,0.142857,0.142857,0.000000,0.142857,0.142857,0.142857,0.142857,0.000000
1,0.142857,0.000000,0.142857,0.142857,0.142857,0.142857,0.000000,0.142857,0.142857

idf portion

In [19]:
def computeIDF(docList):
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [29]:
idfs = computeIDF([wordDictA, wordDictB])
idfs

{'truck': 0.3010299956639812,
 'car': 0.3010299956639812,
 'is': 0.0,
 'the': 0.0,
 'driven': 0.0,
 'on': 0.0,
 'road': 0.3010299956639812,
 'highway': 0.3010299956639812,
 'The': 0.0}

In [21]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [23]:
idfFirst = computeTFIDF(tfFirst, idfs)
idfSecond = computeTFIDF(tfSecond, idfs)

In [24]:
idfFirst

{'truck': 0.0,
 'car': 0.043004285094854454,
 'is': 0.0,
 'the': 0.0,
 'driven': 0.0,
 'on': 0.0,
 'road': 0.043004285094854454,
 'highway': 0.0,
 'The': 0.0}

In [25]:
idfSecond

{'truck': 0.043004285094854454,
 'car': 0.0,
 'is': 0.0,
 'the': 0.0,
 'driven': 0.0,
 'on': 0.0,
 'road': 0.0,
 'highway': 0.043004285094854454,
 'The': 0.0}

In [27]:
idf= pd.DataFrame([idfFirst, idfSecond])
idf

   The       car  driven   highway   is   on      road  the     truck
0  0.0  0.043004     0.0  0.000000  0.0  0.0  0.043004  0.0  0.000000
1  0.0  0.000000     0.0  0.043004  0.0  0.0  0.000000  0.0  0.043004

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [38]:
firstV= 'the car is driven on the road'
secondV= 'the truck is driven on the highway'

In [39]:
vectorize= TfidfVectorizer()
response= vectorize.fit_transform([firstV, secondV])
print(response)

  (0, 6)	0.6043795515372431
  (0, 0)	0.42471718586982765
  (0, 3)	0.30218977576862155
  (0, 1)	0.30218977576862155
  (0, 4)	0.30218977576862155
  (0, 5)	0.42471718586982765
  (1, 6)	0.6043795515372431
  (1, 3)	0.30218977576862155
  (1, 1)	0.30218977576862155
  (1, 4)	0.30218977576862155
  (1, 7)	0.42471718586982765
  (1, 2)	0.42471718586982765